@model Patient;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@{
    // Layout = null;
    ViewData["Title"] = "Details";
}


@section Styles {
    <link rel="stylesheet" href="~/assets/Plugins/datatables/datatables.bundle.css" />
}
<div class="card mb-10">
    <div class="card-body pt-9 pb-0">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
            <!--begin::Image-->
            <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                <img class="mw-50px mw-lg-75px patient-image" src="~/assets/images/user.jpg" alt="image">
            </div>
            <!--end::Image-->
            <!--begin::Wrapper-->
            <div class="flex-grow-1">
                <!--begin::Head-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::Details-->
                    <div class="d-flex flex-column">
                        <!--begin::Status-->
                        <div class="d-flex align-items-center mb-1">
                            <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3 patient-name">Omar Abdelmoniem</a>
                            <span class="badge badge-light-success patient-type me-2">online patient</span>
                        </div>
                        <!--end::Status-->
                        <!--begin::Description-->
                        <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-500 patient-address">
                            menia elqamh , sharqia , egypt
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::Details-->
                    <!--begin::Actions-->
                    <div class="d-flex mb-4">
                        <a class="btn btn-sm btn-secondary me-3" asp-controller="Patients" asp-action="Index">Back to List</a>
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Head-->
                <!--begin::Info-->
                <div class="d-flex flex-wrap justify-content-start">
                    <!--begin::Stats-->
                    <div class="d-flex flex-wrap">
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <div class="fs-4 fw-bold patient-birthdate">28 Feb, 1999</div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-500">Birthdate</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-file-invoice-dollar text-success me-2"></i>
                                <div class="fs-4 fw-bold counted patient-payments" data-kt-countup="true" data-kt-countup-value="1500" data-kt-initialized="1">1500</div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-500">Payments</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                        <!--begin::Stat-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                            <!--begin::Number-->
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-file-invoice-dollar text-danger me-2"></i>
                                <div class="fs-4 fw-bold counted patient-current-balance" data-kt-countup="true" data-kt-countup-value="2000" data-kt-countup-prefix="$" data-kt-initialized="1">2000 EGP</div>
                            </div>
                            <!--end::Number-->
                            <!--begin::Label-->
                            <div class="fw-semibold fs-6 text-gray-500">Current Balance</div>
                            <!--end::Label-->
                        </div>
                        <!--end::Stat-->
                    </div>
                    <!--end::Stats-->
                    <!--begin::Users-->
                    <div class="d-flex align-items-center flex-wrap mb-1">
                        <span class="badge badge-light-info patient-type me-2 mb-2">male</span>
                        <span class="badge badge-light-info patient-phone me-2 mb-2">01004382527</span>
                        <span class="badge badge-light-info patient-occupation me-2 mb-2">fullstack developer</span>

                    </div>
                    <!--end::Users-->
                </div>
                <!--end::Info-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Details-->

        <div class="separator"></div>

        <!--begin::Nav-->
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6 active" data-bs-toggle="tab" href="#kt_tab_pane_1">
                    Overview
                </a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" data-bs-toggle="tab" href="#kt_tab_pane_2">
                    Reservations
                </a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" data-bs-toggle="tab" href="#kt_tab_pane_3">
                    Prescriptions
                </a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" data-bs-toggle="tab" href="#kt_tab_pane_4">
                    Medical Report
                </a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item">
                <a class="nav-link text-active-primary py-5 me-6" data-bs-toggle="tab" href="#kt_tab_pane_5">
                    Payments
                </a>
            </li>
            <!--end::Nav item-->
        </ul>
        <!--end::Nav-->
    </div>

</div>
<div class="tab-content py-4" id="myTabContent">
    <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
        Overview
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
        Reservations
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
        Prescriptions
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel">
        Medical Report
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
        <div class="card pt-4 mb-6 mb-xl-9">
            <!--begin::Card header-->
            <div class="card-header border-0">
                <!--begin::Card title-->
                <div class="card-title">
                    <partial name="_DatatableCardHeader" />
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Filter-->
                    <button type="button" class="btn btn-sm btn-flex btn-light-primary" data-bs-toggle="modal" data-bs-target="#paymentRecords">
                        <i class="bi bi-plus-square-dotted"></i>
                        Add payment
                    </button>
                    <!--end::Filter-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0 pb-5">
                <!--begin::Table-->
                <div>
                    <div class="table-responsive">
                        <table id="kt_datatable_zero_configuration" class="js-datatables table table-row-dashed table-row-gray-300 gy-3 align-middle">
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800">
                                    <th>Date</th>
                                    <th>Operation</th>
                                    <th>Paid</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PaymentRecords?.Count() > 0)
                                {
                                    foreach(var item in Model.PaymentRecords)
                                    {
                                        <tr>
                                            <td>@item.Date.ToString("MMMM dd, yyyy")</td>
                                            <td>@item.Type</td>
                                            @if (item.Value > 0)
                                            {
                                                <td class="text-success">@item.Value <span>EPG</span></td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">@item.Value <span>EPG</span></td>
                                            }
                                            <td title="@item.Note">
                                                <p style="max-width:100px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
                                                    @((item.Note == null) ? "No Note" : @item?.Note?.ToString())
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <div class="modal fade" id="paymentRecords" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-650px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Payment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="paymentForm" class="form fv-plugins-bootstrap5 fv-plugins-framework">
                            <input type="number"  hidden  id="PaymentPatientId" value="@Model.Id" />
                            <div class="mb-3">
                                <div class="form-floating mb-2">
                                    <input type="date" class="form-control form-control-solid payment-date" name="payment_date" id="PaymentDate" placeholder="payment date..." />
                                    <label class="form-label">Payment Date</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-2">
                                    <select class="form-select form-select-solid payment-type js-select2" data-control="select2" data-placeholder="Select Type" data-hide-search="true" name="payment_type" id="PaymentType">
                                        <option value="">Select</option>
                                        <optgroup label="Balance Payment:">
                                            <option>Pay</option>
                                            <option>Adjustment +ve</option>
                                            <option>Adjustment -ve</option>
                                        </optgroup>
                                        <optgroup label="Diagnosis:">
                                            <option>Regular Check-up</option>
                                        </optgroup>
                                        <optgroup label="Operative:">
                                            <option>Restoration Class I</option>
                                            <option>Restoration Class II</option>
                                            <option>Restoration Class III</option>
                                            <option>Restoration Class IV</option>
                                            <option>Restoration Class V</option>
                                            <option>Restoration Class VI</option>
                                        </optgroup>
                                        <optgroup label="Endodontics:">
                                            <option>Anterior</option>
                                            <option>Pre-Molar</option>
                                            <option>Molar</option>
                                        </optgroup>
                                        <optgroup label="Orthodontics:">
                                            <option>Orthodontics Regular Check-up</option>
                                            <option>Orthodontic Treatment</option>
                                        </optgroup>
                                        <optgroup label="Pedodontics:">
                                            <option>Pulpotomy</option>
                                            <option>Stainless Steel Crown</option>
                                            <option>Zirconia Crown</option>
                                            <option>Extraction</option>
                                            
                                        </optgroup>
                                        <optgroup label="Fixed Prosthodontics:">
                                            <option>PFM Crown</option>
                                            <option>VM13 Crown</option>
                                            <option>Zirconia Crown</option>
                                            <option>Bridge</option>
                                            <option>Long Span Bridge</option>
                                        </optgroup>
                                        <optgroup label="Removable Prosthodontics:">
                                            <option>Acrylic Single Unit</option>
                                            <option>Soft Acrylic Single Unit</option>
                                            <option>Flexible Single Unit</option>
                                            <option>Vitalium Single Unit</option>
                                            <option>Complete Arch Acrylic</option>
                                            <option>Complete Arch Flexible</option>
                                            <option>Snap-on</option>
                                        </optgroup>
                                        <optgroup label="Surgery:">
                                            <option>Simple Extraction</option>
                                            <option>Wisdom Extraction</option>
                                            <option>Separation Extraction</option>
                                            <option>Impacted Extraction</option>
                                            <option>Suturing</option>
                                            <option>Sinus Elevation</option>
                                        </optgroup>
                                        <optgroup label="Implant:">
                                            <option>Implant Regular Check-up</option>
                                            <option>Implant</option>
                                        </optgroup>
                                        <optgroup label="Periodontics:">
                                            <option>Scaling</option>
                                            <option>Polishing</option>
                                            <option>Pockets Debridement</option>
                                            <option>Perio-surgery</option>
                                        </optgroup>
                                    </select>
                                    <label class="form-label">Payment Operation</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating mb-2">
                                    <input class="form-control form-control-solid payment-value" type="number" name="payment_value" id="PaymentValue" placeholder="Value.." />
                                    <label class="form-label">Payment Amount</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control form-control-solid rounded-3 payment-note" name="payment_note" style="height: 96px;" placeholder="payment note..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-sm btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn-sm btn btn-primary me-2 js-add-payment">
                            <span class="indicator-label">
                                Create
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" id="tokkenForgery" />

@section Scripts {
    <script src="~/assets/Plugins/datatables/datatables.bundle.js"></script>
    <script src="~/js/patientDetails.js" asp-append-version="true"></script>
    

}